@gridSize: 20px; //格子大小为20px

.grid {
  box-sizing: border-box;
  display: inline-block;
  width: @gridSize;
  height: @gridSize;
  border: 1px solid #000;
  box-shadow: 0 0 3px #888888 inset, 0 0 3px #888888;
  border-radius: 5px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  transition: all 0.5s ease;
}
.grid:hover{
  box-shadow: 0 0 8px #888888 inset, 0 0 3px #888888;
}
