.grid {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  // background-color: #ccc;
  background-image: url('../../assets/Zodiac.png') ;
  background-repeat:no-repeat;
  background-size: 70px 68px;
  // background-position: 0px 0px;
  background-blend-mode: multiply;
  font-size: 9px;
  position: absolute;
}
.isLayer {
  position: absolute;
  top: 10px;
  left: 10px;
}
