@mianColor: #82c504; //默认背景颜色

div {
  box-sizing: border-box;
}
.box {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  //background: @mianColor;
}
.container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  position: relative;
  width: 300px;
  height: 300px;
  background: @mianColor;
  .rotate-box {
    position: absolute;
    transition: all 3s ease;
    transform: rotate(0deg);
  }
  .is-rotate {
    transform: rotate(360*3deg);
  }
}

.tools {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  width: 300px;
  height: 40px;
  border: 1px solid #ccc;
}
.storage-grids {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width: 300px;
  height: 20px;
  border: 1px solid #ccc;
}
.footer {
  display: flex;
  padding: 0px !important;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  // width: 300px;
  width: 209px;
  height: 40px;
  padding: 10px 50px;
  background: @mianColor;
  background: url("@/assets/imgs/fence.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-top: 10px;
  border: 1px solid #ccc;
  &-body {
    width: 200px;
    height: 20px;
    // border: 1px solid #ccc;
    // background-color: #fff;
  }
}
