.navs {
  > ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  .nav {
    margin-right: 1em;
  }
  .nav:last-child {
    margin-right: 0em;
  }
}

div {
  box-sizing: border-box;
}
